<ion-header>
  <ion-toolbar>
    <ion-title>
      Contact Me
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content ion-color-primary>
  <ion-card class="welcome-card">
    <img src="https://scontent.fcou1-1.fna.fbcdn.net/v/t1.0-9/25497935_1472811022840174_5277737347732061544_n.jpg?_nc_cat=105&_nc_oc=AQmfK51sa37Vjsxrn2kbQ72-I1Rliz1Yd15rrlTvmS17_6hl9JIa7HaqNgHu2el-Aj4&_nc_ht=scontent.fcou1-1.fna&oh=8bc3bc119fb0d8863ebeea188452be6e&oe=5DD0B1D2" alt="" />
    <ion-card-header>
      <ion-card-title>Meet Tim Zumsteg..</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>My name is Tim Zumsteg and I am the creator of this application. I created this app for a quick and easy place to find 
        new recipes for my wife and I to try. Bare with me as this is the beginning stages of developing this application.
      </p>
    </ion-card-content>
  </ion-card>
  <ion-list lines="none">
    <ion-item href="https://twitter.com/Zumsteg_WHS">
      <ion-label>Follow me on Twitter </ion-label>
      <ion-icon slot="start" color="ion-color-primary" name="logo-twitter"></ion-icon>
    </ion-item>
    <ion-item>
      <a href="mailto:trz35640@gmail.com" target="_top">Email Me!</a>
    </ion-item>

  </ion-list>
</ion-content>